<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="ForceUserName" value="raman_sfwear_dev@onactuate.com"/>
    <add key="ForcePassword" value="12867r1023456"/>
    <add key="ForceToken" value="ACDgvsycI8eqPKEkZNCsPiM68"/>
    <add key="ConsumerKey" value="3MVG9szVa2RxsqBZe71TpiGSmjhzla8UD_XdzApAWg603PdirXyMIh.BwwgN9tfwne3xq0jAxtspK35ANjwaC"/>
    <add key="ConsumerSecret" value="852729950175386115"/>
    <add key="SalesforceAuthUri" value="https://na35.salesforce.com/services/oauth2/token"/>
    <add key="SalesforceBulkCaseUri" value="https://na35.salesforce.com/services/apexrest/CaseService"/>
    <add key="SalesforceSyncFrequency" value="30000"/>
    <add key="SalesforceSyncBatchSize" value="200"/>
    <add key="azure.documentdb.endpointUrl" value="https://sfdcconnectordb.documents.azure.com:443/"/>
    <add key="azure.documentdb.authorizationKey" value="eEi7xkE5v31R5QltZz8E8L89fbIIbasntjcYBWToorP45ayQnk2xHIOBWKnXqvYnTWlxv6D4HPlFbtnkFVp2Sg=="/>
    <add key="azure.documentdb.databaseId" value="sfdcconnectordb"/>
    <!--<add key="MongoConnectionString" value="mongodb://mongoadmin:onactuate@ds056009.mlab.com:56009/onactuatenosql" />
    <add key="MongoDatabase" value="onactuatenosql" />-->
    <add key="MongoConnectionString" value="mongodb://iot:mfmT6AcSkOCdlXy1gDfrfT2cDphGHfvK6FZo5DRJ5KfhpwqS7jAYhQ4zF28WIzJBW4SXRrXtjx14S42goVCf0g==@iot.documents.azure.com:10250/?ssl=true"/>
    <add key="MongoDatabase" value="iot"/>
    <add key ="SmsGatewayUser" value="aism-onactuate"/>
    <add key ="SmsGatewayRequestType" value="0"/>
    <add key ="SmsGatewayRequestDelivery" value="1"/>
    <add key ="SmsGatewayPassword" value="123456"/>
    <add key ="SmsGatewayRequestSource" value="TSTSMS"/>
    <add key ="SmsGatewayRequestUrl" value="http://rs.airtelsms.com:8080/sendsms/bulksms"/>

  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=28a002e5-b351-4849-ba91-a6f600712595.sqlserver.sequelizer.com;Database=db28a002e5b3514849ba91a6f600712595;User ID=njmjcqpzawksvnon;Password=fwzUZV5gZdDxqQcABCVLra8qDF8iu4msjjR5rFgTAwDbjmPsZ7qvS6nfxjqtWVT6;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>